$primary-color: #2D71FE;
$primary-color--darker: #274DB3;

$title: #232322;
$secondary-title: #A4A5A5;
$text: #7C7C7C;

$light-blue: #66D9EB;
$light-pink: #EC565C;
$light-purple: #AF80FF;
$ligh-grey: #F7F6F6;

$font-family: "Nunito";